.env
.env.*
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
tests/
embedding-data/*
!embedding-data/job-posting/
embedding-data/job-posting/*
!embedding-data/job-posting/job_posting_pipeline/
!embedding-data/job-posting/job_posting_pipeline/**
!embedding-data/job-posting/data/
embedding-data/job-posting/data/*
!embedding-data/job-posting/data/job_postings.csv
resume_pipeline/evaluation/
