.venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

.git
.github
.gitignore

.env
.env.*
!.env.example

*.log

Dockerfile*
docker-compose*.yml

.vscode
.idea

tests
README.md